@use "../../../../shared/assets/scss/abstracts/mixins/textMixins";
@use "../../../../shared/assets/scss/abstracts/variables/colors";
@use "../../../../shared/assets/scss/abstracts/variables/fontFamilies";

.RegistrationConfirmation {
    margin-bottom: 8px;
    padding: 35px 30px;

    color: colors.$colorWhite;

    background-color: colors.$colorWhite;
    border-radius: 3px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 10%);

    &-EmailError {
        margin-bottom: 25px;

        @include textMixins.textMixin_shortened(
            colors.$colorError,
            fontFamilies.$ffPtSans,
            500,
            24px
        );
    }

    &-Link {
        @include textMixins.textMixin_shortened(
            colors.$colorCyan,
            fontFamilies.$ffPtSans,
            400,
            18px
        );
    }

    &-Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-Flex1,
    &-Flex2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    &-MLGLogo {
        width: 100px;
        margin-top: 75px;
        margin-bottom: 75px;
    }

    &-Header {
        align-self: flex-start;
        margin-bottom: 16px;

        @include textMixins.textMixin_default(
            colors.$colorBlack,
            fontFamilies.$ffPtSansCaption,
            700,
            21px,
            normal,
            1.5
        );
    }

    &-Text {
        align-self: flex-start;
        margin-bottom: 14px;

        @include textMixins.textMixin_default(
            colors.$colorBlack,
            fontFamilies.$ffNotoSans,
            400,
            18px,
            normal,
            1.5
        );
    }

    &-Input {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        margin-top: 10px;
        margin-bottom: 25px;
        padding: 10px 15px;

        font-family: fontFamilies.$ffArimo;
        font-size: 16px;
        color: colors.$colorBlack;
        vertical-align: middle;

        background-color: colors.$colorWhite;
        border: 2px solid colors.$colorLightGrey;
        border-radius: 3px;
    }

    &-Input::placeholder {
        font-family: fontFamilies.$ffArimo;
        color: colors.$colorLighterGrey;
    }

    &-Input:focus {
        border: 2px solid colors.$colorCyan;
    }

    &-UserError {
        @include textMixins.textMixin_default(
            colors.$colorError,
            fontFamilies.$ffNotoSans,
            400,
            16px,
            normal,
            1.5
        );
    }

    &-Btns {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    &-Btn {
        width: 100%;
        font-family: fontFamilies.$ffPtSans;
        font-size: 16px;
        font-weight: 500;
    }
}
