@use "../../../../../shared/assets/scss/abstracts/variables/colors";

.Main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    width: 100%;

    color: colors.$colorBlack;

    // FIXME!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    .MLGPage_clsc &-Container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    .MLGPage_solo &-Container {
        height: 100%;
        margin: 0 auto;
    }
}
