@use "../../../../../shared/assets/scss/abstracts/variables/colors";
@use "../../../../../shared/assets/scss/abstracts/variables/fontFamilies";
@use "../../../../../shared/assets/scss/abstracts/mixins/textMixins";

.MainHeader {
    font-size: 36px;

    &-Headline {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: baseline;
        justify-content: flex-start;

        &-Count {
            font-family: fontFamilies.$ffArimo;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            color: colors.$colorLightGrey;
        }

        &-NameLabel {
            @include textMixins.textMixin_default(colors.$colorBlack, fontFamilies.$ffArimo, 400, 48px, normal, 1.42);
            margin-top: 35px;
            margin-bottom: 15px;
        }

        &-NameLabel_itemPage {
            font-size: 32px;
            line-height: 42px;
        }
    }
}
