// Black
$colorBlack: #020b10;
$colorGrey: #222629;
$colorDarkDarkGrey: #292d33;
$colorDarkGrey: #353537;
$colorMiddleGrey: #474b4f;
$colorLighterGrey: #6b6e70;
$colorLightGrey: #989898;
$colorVeryLightGrey: #dcdcdc;
$colorWhite: #fcfcfc;
$colorLightBlue: #f0f7fd;

// Blue
$colorBlue: #0466c8;
$colorBlueDarker: #023e7d;
$colorCobalt: #002855;
$colorBlackBlue: #001845;

// Cyan
$colorCyan: #4895ef;
$colorCyanDarker: #4361ee;
$colorCyanDark: #3f37c9;

// Red
$colorError: #d5546d;
$colorRed: #c1121f;
$colorRedDarker: #780000;
