$ffPtSerif: "PT Serif";
$ffPtSans: "PT Sans";
$ffPtSansCaption: "PT Sans Caption";
$ffArimo: "Arimo";
$ffInter: "Inter";
$ffMontserrat: "Montserrat";
$ffOswald: "Oswald";
$ffNotoSans: "Noto Sans";
$ffPoppins: "Poppins";
$ffRoboto: "Roboto";
$ffUnbounded: "Unbounded";
$ffArial: "Arial";
$ffGeorgia: "Georgia";
