@use "../../../../../assets/scss/abstracts/variables/colors";
@use "../../../../../assets/scss/abstracts/variables/fontFamilies";
@use "../../../../../assets/scss/abstracts/mixins/textMixins";

.MLGForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-Header {
        @include textMixins.textMixin_default(colors.$colorBlack, fontFamilies.$ffPtSans, 500, 21px, normal, 1);

        margin-bottom: 15px;
    }

    &-Instructions {
        width: 360px;
        margin-top: 54px;

        @include textMixins.textMixin_default(colors.$colorError, fontFamilies.$ffNotoSans, 400, 11px, normal, 1.5);
    }

    &-Button {
        width: 360px;
        height: 49px;
        font-family: fontFamilies.$ffNotoSans;
        font-weight: 500;
    }

    &-ErrorMsg {
        @include textMixins.textMixin_default(colors.$colorError, fontFamilies.$ffNotoSans, 400, 15px, normal, 1.5);

        margin-top: 3px;
        margin-bottom: 15px;
        text-align: center;
    }

    &-Fields {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;
    }

    &-Field {
        position: relative;

        display: flex;
        flex-direction: column;
        align-self: flex-start;

        width: 360px;
        min-height: 49px;
    }

    &-Input {
        position: absolute;

        width: 360px;
        padding: 14px;

        font-family: fontFamilies.$ffNotoSans;
        font-size: 14px;
        color: colors.$colorCyan;
        color: colors.$colorBlack;

        // background-color: #191b1d;
        background-color: colors.$colorWhite;
        border: 1px solid colors.$colorDarkGrey;
        border-radius: 3px;

        transition: 0.2s ease;

        &:focus {
            // border: 1px solid #165096;
            // outline: 1px solid #165096;
            border: 1px solid colors.$colorBlue;
            outline: 1px solid colors.$colorBlue;
        }

        &_invalid {
            border: 1px solid colors.$colorError;
        }

        &_invalid:focus {
            border: 1px solid colors.$colorError;
            outline: 1px solid colors.$colorError;
        }
    }

    &-NameLabel {
        pointer-events: none;

        position: absolute;
        top: 4px;
        left: 0.8px;

        display: block;

        padding: 14px;

        font-family: fontFamilies.$ffNotoSans;
        font-size: 14px;
        font-weight: 500;
        color: colors.$colorDarkGrey;

        transition: 0.2s ease;
    }

    %moved-name-label {
        left: 7px;
        transform: translateX(-0.5px) translateY(-7px);

        padding: 0 5px;

        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.3px;

        // background: #191b1d;
        background: colors.$colorWhite;
    }

    %shown-error {
        color: colors.$colorError;
    }

    // default
    &-Input:not(:placeholder-shown, :focus) + &-NameLabel {
        color: colors.$colorDarkGrey;
    }

    &-Input:valid + &-NameLabel {
        @extend %moved-name-label;
    }

    &-Input:not(:placeholder-shown) + &-NameLabel {
        @extend %moved-name-label;
    }

    // focus
    &-Input:focus + &-NameLabel {
        @extend %moved-name-label;
        color: colors.$colorBlue;
    }

    // error
    &-Input_invalid + &-NameLabel,
    &-Input_invalid:not(:focus, :placeholder-shown) + &-NameLabel,
    &-Input_invalid:focus:not(:placeholder-shown) + &-NameLabel,
    &-Input_invalid:focus:placeholder-shown + &-NameLabel {
        @extend %moved-name-label;
        @extend %shown-error;
    }
}
